<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Enviar nome</h1>
    <form action="/indexPost" method="POST">
        <label for="Nome">Nome</label>
        <input type="text" name="nome" id="nome"> <br><br>
        <label for="E-mail">E-mail</label>
        <input type="email" name="email" id="email">
        <input type="submit" value="Enviar">
    </form>
    <form action="/BirthDayCalc" method="post">
        <input type="date" name="birthday" id="birthday">
        <input type="submit" value="enviar">
    </form>

</body>
</html>

<!-- faço um input do nome e clico em enviar, após clicar ele faz um POST, como o meu banco de dados vai receber esse POST e armazenar? -->